<p>
  &bull; <%= comment.input %>

  <strong>by: </strong>
  <em><%= comment.user.name %></em>
</p>

<p>
	&nbsp;&nbsp;<%= link_to "Edit Comment", edit_listing_comment_path(@listing, comment) %> |

  <%= link_to 'Delete Comment', [comment.listing, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>