<h1>New Reservation</h1>

<%= render 'form' %>

<%= link_to "Back", listing_path(@listing) %>

// <script>
// 	braintree.setup("<%= @client_token %>", "dropin", {
//   container: "payment-form"
// });
// </script>
